.submit {
    color: #C7D3DE;
}
.error {
    color: red;
}

.prompts p {
    text-align: center;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #7D8992; /* Add this line to change the background color */
}

.register-form {
    width: 350px;
    color: #DEEEEB;
}

.reg-body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.register {
    width: 220px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 35px;
}

.register h1 {
    position: relative;
    height: 120px; /* adjust as needed */
    width: 100%;
    margin: 0;
}

.register .create {
    position: absolute;
    top: 0;
    left: 0;
}

.register .your {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-style: italic;
}

.register .account {
    position: absolute;
    bottom: 0;
    left: 0;
}

.links {
    text-align: center;
    margin-top: 20px;
}

.main-fieldset {
    background-color: #4c5760;
}

.submit:hover {
    background-color: #4c5760;
    color: #DEEEEB;
}