
.welcome {
    color: white;
    width: 220px;
    margin: 300px auto -20px;
    margin-top: 0; /* for the dev tool below */
}

body {
    background-color: #4c5760;
    font-family: netflix_sansregular;
}

.sign-in-form {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

legend {
    text-align: right;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.links p{
    display: inline-block;
    font-size: 80%;
}

.sign-up {
    width: 25%;
    text-align: left;
    margin-left: 10px;
}

.forgot {
    width:55%;
    text-align: right;
    margin-left: 17px;
}

/* Custom fonts */

@font-face {
    font-family: 'netflix_sansregular';
    src: url('netflixfont/netflixsans-regular-webfont.woff2') format('woff2'),
         url('netflixfont/netflixsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'netflix_sansmedium';
    src: url('netflixfont/netflixsans-medium-webfont.woff2') format('woff2'),
         url('netflixfont/netflixsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}